/*!
 * *  Licensed to the Apache Software Foundation (ASF) under one or more
 * *  contributor license agreements.  See the NOTICE file distributed with
 * *  this work for additional information regarding copyright ownership.
 * *  The ASF licenses this file to You under the Apache License, Version 2.0
 * *  (the "License"); you may not use this file except in compliance with
 * *  the License.  You may obtain a copy of the License at
 * *
 * *      http://www.apache.org/licenses/LICENSE-2.0
 * *
 * *  Unless required by applicable law or agreed to in writing, software
 * *  distributed under the License is distributed on an "AS IS" BASIS,
 * *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * *  See the License for the specific language governing permissions and
 * *  limitations under the License.
 * */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.jewel.badge.emphasized {
  background: #8CC63C;
  color: #dedede;
}

.jewel.button, .jewel.button.primary {
	background: #1ca8dd;
	border-radius: 0.25rem;
	border-color: transparent;
	box-shadow: none;
	color: #2a2a2a;
	text-shadow: none;
}

.jewel.button:focus, .jewel.button.primary:focus {
  background: #40b9e7;
  border-color: transparent;
  box-shadow: none;
  color: #2a2a2a;
}

.jewel.button:hover, .jewel.button:hover:focus, .jewel.button.primary:hover, .jewel.button.primary:hover:focus {
  background: #40b9e7 !important;
  box-shadow: none !important;
  border-color: transparent;
  color: #2a2a2a !important;
  text-shadow: none !important;
}

.jewel.button:active, .jewel.button:active:focus, .jewel.button.primary:active, .jewel.button.primary:active:focus {
  background: #7fd0ef;
  border-color: transparent;
  box-shadow: none;
  color: #2a2a2a;
}

.jewel.button[disabled], .jewel.button.primary[disabled] {
  background: #1ca8dd !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: #2a2a2a;
  text-shadow: unset;
  opacity: .7;
}

.jewel.button[disabled]:hover, .jewel.button[disabled]:hover:focus, .jewel.button.primary[disabled]:hover {
  cursor: default;
}

.jewel.button.secondary {
	background: #d9534f;
	border-radius: 0.25rem;
	border-color: transparent;
	box-shadow: none;
	color: #000;
	text-shadow: none;
}

.jewel.button.secondary:focus {
  background: #d9534f;
  border-color: transparent;
  box-shadow: none;
  color: #000;
  opacity: .8;
}

.jewel.button.secondary:hover, .jewel.button.secondary:hover:focus {
  background: #d9534f !important;
  box-shadow: none !important;
  border-color: transparent;
  color: #000 !important;
  text-shadow: none !important;
  opacity: .8;
}

.jewel.button.icon.secondary:hover {
	background: #d9534f !important;
}

.jewel.button.icon.left-space:hover {
	background: #40b9e7 !important;	
}

.jewel.button.icon:hover {
	background: #40b9e7 !important;
}

.jewel.tabbarbutton {
  background-color: transparent;
  border-color: #1997c6;
  color: #1997c6;
}
.jewel.tabbarbutton.selected {
    color: #2a2a2a;
    background: #1ca8dd;
}

.jewel.checkbox input + span::before {
  background: #2a2a2a;
  border: 1px solid #4d4d4d;
  color: #dedede;
}

.jewel.checkbox:hover input + span::before {
	color: #dedede;
	border: 1px solid #1ca8dd;
}

.jewel.checkbox input[disabled] + span::before {
	background: #2a2a2a !important;
    border: 1px solid #4d4d4d;
    color: #dedede;
	opacity: .7;
}

.jewel.checkbox input + span::after {
	background: url("data:image/svg+xml,%3Csvg fill='%231ca8dd' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='22px' viewBox='-83.12 -83.12 581.82 581.82' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M411.47,96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853,0L152.348,243.058l-82.066-82.064 c-5.48-5.482-14.37-5.482-19.851,0l-46.319,46.32c-5.482,5.481-5.482,14.37,0,19.852l138.311,138.31 c2.741,2.742,6.334,4.112,9.926,4.112c3.593,0,7.186-1.37,9.926-4.112L411.47,116.277c2.633-2.632,4.111-6.203,4.111-9.925 C415.582,102.628,414.103,99.059,411.47,96.426z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

.jewel.checkbox input[disabled] + span::after {
	background: url("data:image/svg+xml,%3Csvg fill='%231ca8dd' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='22px' viewBox='-83.12 -83.12 581.82 581.82' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M411.47,96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853,0L152.348,243.058l-82.066-82.064 c-5.48-5.482-14.37-5.482-19.851,0l-46.319,46.32c-5.482,5.481-5.482,14.37,0,19.852l138.311,138.31 c2.741,2.742,6.334,4.112,9.926,4.112c3.593,0,7.186-1.37,9.926-4.112L411.47,116.277c2.633-2.632,4.111-6.203,4.111-9.925 C415.582,102.628,414.103,99.059,411.47,96.426z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
	opacity: .7;
}

.jewel.radiobutton input + span::before {
  background: #2a2a2a;
  border: 1px solid #4d4d4d;
  color: #dedede;
}

.jewel.radiobutton:hover input + span::before {
	color: #dedede;
	border: 1px solid #1ca8dd;
}

.jewel.radiobutton input[disabled] + span::before {
	background: #2a2a2a;
    border: 1px solid #4d4d4d;
    color: #dedede;
	opacity: .7;
}

.jewel.list {
	background: #2a2a2a;
	border: 1px solid #4d4d4d !important;	
	color: #dedede;
	box-shadow: none;
}
.jewel.list .jewel.item.primary.hovered {
	background: #2a2a2a;	
	color: #dedede !important;
}

.jewel.datagrid {
  background: #2a2a2a;
  border: 1px solid #4d4d4d;	
}
.jewel.datagrid .jewel.list.column {
  background: #2a2a2a;
  border: 1px solid #4d4d4d;
  color: #dedede;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.primary.selectable:active {
	background: #2a2a2a;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.primary.hovered {
	background: #2a2a2a;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.primary.selected {
	background: #444;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.hovered {
  background: #a8d46b;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.selected, .jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.selectable:active {
  background: #9cce58;
}
.jewel.datagrid .jewel.buttonbar.header .jewel.button {
  background: #2a2a2a;
  border: 1px solid #4d4d4d;
  color: #dedede;
  text-shadow: none;
  box-shadow: none;
}
.jewel.datagrid .jewel.buttonbar.header .jewel.button:hover {
	background: #2a2a2a !important;
	color: #dedede !important;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid {
  border-bottom: none;
}
.jewel.item.emphasized.hovered {
  background: #8CC63C;
}
.jewel.item.emphasized.selected, .jewel.item.emphasized.selectable:active {
  background: #7eb435;
}

.jewel.loader.emphasized.segment {
  border-top-color: #8CC63C;
}

.jewel.snackbar.emphasized .jewel.snackbar-content {
  background: linear-gradient(#98cc50, #7eb435);
  border: 1px solid #638c29;
  box-shadow: inset 0 1px 0 #bbdd8b;
  border-bottom: none;
}
.jewel.snackbar.emphasized .jewel.snackbar-message {
  color: #dedede;
}
.jewel.snackbar.emphasized .jewel.snackbar-action {
  color: #E2D70B;
}
.jewel.snackbar.emphasized .jewel.snackbar-action:hover {
  background: linear-gradient(#8CC63C, #71a02f);
}

.emphasized-lightest {
  color: #e9f4da;
}

.emphasized-light {
  color: #bbdd8b;
}

.emphasized-normal {
  color: #8CC63C;
}

.emphasized-dark {
  color: #557923;
}

.emphasized-darkest {
  color: #1d2a0c;
}

.jewel.togglebutton.emphasized {
  background: linear-gradient(#98cc50, #7eb435);
  border: 1px solid #638c29;
  box-shadow: inset 0 1px 0 #bbdd8b;
  border-radius: 0.25rem;
  color: #dedede;
  text-shadow: 0 -1px 0 rgba(57, 81, 24, 0.7);
}
.jewel.togglebutton.emphasized:hover, .jewel.togglebutton.emphasized:hover:focus {
  background: linear-gradient(#8CC63C, #71a02f);
  border: 1px solid #557923;
  color: #dedede;
}
.jewel.togglebutton.emphasized:active, .jewel.togglebutton.emphasized:active:focus {
  background: linear-gradient(#71a02f, #557923);
  border: 1px solid #395118;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  color: #dedede;
}
.jewel.togglebutton.emphasized:focus {
  border: 1px solid #638c29;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  color: #dedede;
}
.jewel.togglebutton.emphasized[disabled] {
  background: #404040 !important;
  border: 1px solid #0d0d0d !important;
  box-shadow: none !important;
  color: #737373;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.selected {
  background: linear-gradient(#71a02f, #557923);
  border: 1px solid #395118;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  color: #dedede;
}

.jewel.togglebutton.emphasized.outlined {
  background: rgba(140, 198, 60, 0.05);
  border: 1px solid #71a02f;
  box-shadow: none;
  color: #638c29;
  text-shadow: none;
}
.jewel.togglebutton.emphasized.outlined:hover, .jewel.togglebutton.emphasized.outlined:hover:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid #638c29;
  color: #47651e;
}
.jewel.togglebutton.emphasized.outlined:active, .jewel.togglebutton.emphasized.outlined:active:focus {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid #5a8126;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.emphasized.outlined:focus {
  border: 1px solid #557923;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.emphasized.outlined[disabled] {
  background: rgba(64, 64, 64, 0.1) !important;
  border: 1px solid #0d0d0d !important;
  color: #737373;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.outlined.selected {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid #5a8126;
  box-shadow: none;
  color: #47651e;
}

.jewel.togglebutton.emphasized.unboxed {
  background: rgba(140, 198, 60, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #638c29;
  text-shadow: none;
}
.jewel.togglebutton.emphasized.unboxed:hover, .jewel.togglebutton.emphasized.unboxed:hover:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid transparent;
  color: #47651e;
}
.jewel.togglebutton.emphasized.unboxed:active, .jewel.togglebutton.emphasized.unboxed:active:focus {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.emphasized.unboxed:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.emphasized.unboxed[disabled] {
  background: rgba(64, 64, 64, 0) !important;
  border: 1px solid transparent !important;
  color: #737373;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.unboxed.selected {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.card {
	background: 	#2a2a2a !important;
	border: 1px solid #4d4d4d;	
	color: #dedede;
}

.jewel.textinput {
	color: #dedede;
}

.jewel.textinput input {
	background: #2a2a2a;
	color: #dedede;
	border: 1px solid #4d4d4d;
}

.jewel.textinput input[disabled] {
	background: #2a2a2a;
	color: #dedede;
	border: 1px solid #4d4d4d;
	opacity: .7;
}

.jewel.textarea textarea {
	background: #2a2a2a;
	color: #dedede;
	border: 1px solid #4d4d4d;
}

.jewel.dropdownlist {
	background-color: #2a2a2a;
	color: #dedede;
	border: 1px solid #4d4d4d;
}

.jewel.dropdownlist[disabled] {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 8' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0.000000, -1.000000)' fill='%231CA8DD' fill-rule='nonzero'%3E%3Cg transform='translate(-2.000000, 0.000000)'%3E%3Cpolygon transform='translate(8.000000, 4.705000) scale(1, -1) translate(-8.000000, -4.705000) ' points='3.41 8.41 8 3.83 12.59 8.41 14 7 8 1 2 7'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
	background-color: #2a2a2a;
	color: #dedede;
	border: 1px solid #4d4d4d;
	opacity: .8;
}

.jewel.topappbar .jewel.barrow {
	background: #2a2a2a;
}
.jewel.topappbar .jewel.barsection button {
	color: #dedede !important;
}
.jewel.topappbar .topBarAppHeader {
	background: #2a2a2a !important;
	border-top: 1px solid black !important;
	border-bottom: 1px solid #4d4d4d !important;
	color: #dedede !important;
}

.jewel.footerbar .footerBarAppHeader {
	background: #2a2a2a !important;	
	border-top: 1px solid #4d4d4d !important;
	color: #dedede !important;
}
.jewel.navigation {
	background-color: #2a2a2a;
}
.jewel.navigationlink.hovered {
	background: #2a2a2a !important;
}
.jewel.navigationlink.selectable {
	color: #dedede !important;
}
.jewel.drawer.fixed .drawermain {
	background-color: #2a2a2a;
	border-right: 1px solid #4d4d4d !important;
}
.jewel.drawerheader {
	background: #2a2a2a;
	border-bottom: 1px solid #4d4d4d !important;
}
.jewel.navigationgroup.no-submenu.hovered {
	background: #2a2a2a !important;
}
.jewel.navigationgroup.no-submenu.selected {
	background: #444 !important;
}
.jewel.navigationgroup.no-submenu.selected a {
	color: #dedede !important;
}
.jewel.section {
	background: #2a2a2a;
}

.jewel.alert {
	background: #2a2a2a;
}

.jewel.alert .jewel.titlebar .jewel.label {
	color: #dedede !important;
}

.jewel.alert .content .jewel.label {
	color: #dedede;
}

.jewel.titlebar.info {
	background: #1ca8dd;
	color: #dedede;
}

.jewel.titlebar.error {
	background: #d9534f;
	color: #dedede;
}

.datechooser-popup {
	color: #dedede;
}

.jewel.datechooser .jewel.table {
	background: #2a2a2a;
	border: 1px solid #4d4d4d;
}

.jewel.datechooser .jewel.table .jewel.tableheadercell {
	background: #2a2a2a;
	border: 1px solid #4d4d4d;
}

.jewel.datechooser .jewel.table .jewel.tableheadercell {
	border: none;	
}

.jewel.datechooser .jewel.table .jewel.tableheadercell.buttonsRow {
	border-bottom: 1px solid #4d4d4d;	
}

.jewel.datechooser .jewel.table .jewel.button {
	border: 1px solid #4d4d4d;
	background: #2a2a2a;
	color: #dedede;
}

.jewel.datechooser .jewel.table .jewel.button:hover {
	border: 1px solid #4d4d4d;
	background: #2a2a2a !important;
	color: #dedede !important;
  	box-shadow: none !important;
  	text-shadow: none !important;
  	opacity: .8;
}

.jewel.datefield .jewel.button {
	border: 1px solid #4d4d4d;
	background: #2a2a2a;
	color: #dedede;
}

.jewel.datefield .jewel.button:hover {
	border: 1px solid #4d4d4d;
	background: #2a2a2a !important;
	color: #dedede !important;
  	box-shadow: none !important;
  	text-shadow: none !important;	
  	opacity: .8;
}

.jewel.formheading {
	color: #1ca8dd;
}

.jewel.label {
	color: #dedede;
}

h3 {
	color: #dedede;
}

a {
	color: #1ca8dd;
}

a:link {
	color: #1ca8dd;
}

a:hover {
	color: #1ca8dd;
	opacity: .8;	
}

a font {
	color: #1ca8dd;
}

.topMenuListItemRenderer {
	color: #dedede !important;	
}
.topMenuListItemRenderer.hovered {
	background: #2a2a2a !important;
}
.topMenuListItemRenderer.selected.hovered {
	background: #444 !important;
}
.topMenuListItemRenderer.selected {
	background: #444 !important;
}
.jewel.button.icon.topMenuListItemRendererIcon {
	color: #dedede !important;	
}

.jewel.label.labelLink {
	color: #dedede !important;	
}

.jewel.button.noLinkStyle a {
  color: #2a2a2a;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.jewel.button.noLinkWhiteButtonStyle a {
	color: #2a2a2a;
	text-decoration: none;
}

.jewel.button.primary.noLinkStyleInstallApp a {
  color: #2a2a2a;
  text-decoration: none;
}

.jewel.label.noLinkWhiteLabelStyle a {
  color: #2a2a2a;
  text-decoration: none;
}

.jewel.card.loginViewBackground {
	background: 	#2a2a2a !important;
}

.downloadPasswordEmphasize {
	border: 1px solid #4d4d4d !important;
}

.downloadPasswordEmphasize jewel.label {
	color: #d9534f !important;
}

.jewel.label.brandColor {
	color: #d9534f !important;
}

.layout.horizontal.bookmarkTitleContainer {
    background: #1ca8dd;
	border-radius: 0.25rem;
	border: transparent;
	box-shadow: none;
	color: #2a2a2a;
	text-shadow: none;
}

.prominicLogo {
	content: url('../../images/prominic-logo-stacked-WHITE.png');
	width: 200px;
	height: 200px;
}
/*# sourceMappingURL=defaults.css.map */
