.DS_Store
**/.DS_Store
**/*.swp

Super.Human.Portal_DVE/target
Super.Human.Portal_DVE/nsfs/nsf-moonshine/META-INF/MANIFEST.MF
Super.Human.Portal_DVE/nsfs/nsf-moonshine/target

Super.Human.Portal_Royale/bin
Super.Human.Portal_Royale/obj
Super.Human.Portal_Royale/target
