.DS_Store
**/.DS_Store
**/*.swp

Super.Human.Portal_DVE/target
Super.Human.Portal_DVE/nsfs/nsf-moonshine/META-INF/MANIFEST.MF
Super.Human.Portal_DVE/nsfs/nsf-moonshine/target

Super.Human.Portal_Royale/bin
Super.Human.Portal_Royale/obj
Super.Human.Portal_Royale/target

Super.Human.Portal_Agents/build
Super.Human.Portal_Agents/.classpath
Super.Human.Portal_Agents/.gradle
Super.Human.Portal_Agents/.importDxlDebugOutput/
Super.Human.Portal_Agents/.project
Super.Human.Portal_Agents/.settings

