@namespace "http://www.w3.org/1999/xhtml";
@namespace j "library://ns.apache.org/royale/jewel";

.jewel.textinput.readOnlyInput input[disabled] {
    cursor: unset;
    border: none;
    background: none;
    color: #808080;
    padding: 0;
}

.jewel.datefield.readOnlyDateField[disabled] {
    pointerEvents: none;
}

.jewel.datefield.readOnlyDateField[disabled] button {
    visibility: hidden;
}

.jewel.datefield.readOnlyDateField[disabled] .jewel.textinput input {
    border: none;
    background: none;
    color: #808080;
    padding: 0;
}

.scrollHeightDocFormGridJS {
	maxHeight: calc(100% - 10px);
	minHeight: 90%;
}

.htmlEditorJS {
	IBeadView: ClassReference("Super.Human.Portal_Royale.classes.htmlEditor.beads.HtmlEditorView");
	IBeadModel: ClassReference("Super.Human.Portal_Royale.classes.htmlEditor.beads.models.HtmlEditorModel");
}
